/* Estilos generales */
body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2em;
}

.orange-section {
    background-color: #FF5722;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 5px, transparent 1px);
    background-size: 20px 20px;
}

.green-section {
    background-color: #d8e5a2;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 10px, transparent 1px);
    background-size: 20px 20px;
}

.container, .knowledge-container {
    background: #fff;
    padding: 4em;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1em auto; /* Centramos el contenedor con auto */
}

.profile-pic {
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translateX(-50%);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 0.5em solid #fff;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    margin: 10;
    font-size: 2.5em;
    text-align: center;
}

p {
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: left;
    color: #595656;
}

.hello-line {
    text-align: left;
    width: 100%;
}

a {
    color: #FF5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-section {
    margin-top: 2em;
    display: flex;
    align-items: center;
    width: 100%;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #000;
    margin: 0 1em;
}

.social-icons {
    display: flex;
}

.social-icons .icon {
    margin: 0 0.5em;
    font-size: 1.5em;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons .icon:hover {
    background-color: #FF5722;
}

.knowledge-container h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.knowledge-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.knowledge-item {
    flex: 1 1 calc(50% - 2em);
    margin-bottom: 1.5em;
    max-width: calc(50% - 2em);
}

.knowledge-item h3 {
    font-size: 1.2em;
    color: #FF5722;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.knowledge-item p {
    font-size: 1em;
    color: #595656;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .container, .knowledge-container {
        padding: 2em;
        width: 90%;
        margin: 1em auto; /* Centramos el contenedor con auto */
    }

    .profile-pic {
        width: 10em;
        height: 10em;
        top: -5em;
    }

    h1 {
        font-size: 2em;
        margin-top: 7em; /* Aumentar el margen superior para evitar superposición */
    }

    p {
        font-size: 1.2em;
    }

    .knowledge-list {
        flex-direction: column; /* Asegurar una sola columna */
    }

    .knowledge-item {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 0.5em 0; /* Añadir márgenes superior e inferior */
        padding: 0 1em; /* Añadir padding lateral */
    }
}

@media (max-width: 480px) {
    .container, .knowledge-container {
        padding: 1em;
        width: 90%;
        margin: 0.5em auto; /* Centramos el contenedor con auto */
    }

    .profile-pic {
        width: 12em;
        height: 12em;
        top: -6em;
    }

    h1 {
        font-size: 1.5em;
        margin-top: 4em; /* Aumentar el margen superior para evitar superposición */
    }

    p {
        font-size: 1em;
    }

    .knowledge-list {
        flex-direction: column; /* Asegurar una sola columna */
    }

    .knowledge-item {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 0.5em 0; /* Añadir márgenes superior e inferior */
        padding: 0 1em; /* Añadir padding lateral */
    }
}


















